body {
    font-family: "Montserrat", "Arial";
}

table, th, td {
    border: 1px solid rgb(75, 75, 75);
    text-align: center;
}

th {
    background-color: rgb(252, 213, 213);
}

.powers{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}