<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>

    </button>
<div class="search">
    
        <span class="icon icon-zoom"></span>
    </button>
</div>
<body>
    <input type="text" onkeyup="search()" id="searching">
    
    <input type="submit" value="go">
    <table id="table_heroes">
        <tr>
            <th>Icon</th>
            <th>Name</th>
            <th>Full Name</th>
            <th>Powerstats</th>
            <th>Race</th>
            <th>Gender</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Place Of Birth</th>
            <th>alignment</th>
        </tr>
    </table>
    <script src="../js/main.js"></script>

</body>
</html>