<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

    </button>
<div class="search">
    <input type="text" id="search_search_text" name="search[search_text]" required="required" placeholder="Chercher un héros" data-placeholder="Chercher un produit, une marque, une catégorie..." data-mobile-placeholder="Rechercher" autocomplete="off">
        <span class="icon icon-zoom"></span>
    </button>
</div>
<body>
    <script src="../js/main.js"></script>
    <input type="submit" value="go">
</body>
</html>